{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.category) }}
    {{ form_row(form.number) }}
    {{ form_row(form.description) }}
    {{ form_row(form.employee) }}
    
    <div class="mb-3">
        <button class="btn btn-success mt-3">{{ button_label|default('Sauvegarder') }}</button>
    </div>
{{ form_end(form) }}